services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    networks:
      - hadoop-net
    ports:
      - "9870:9870"

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    networks:
      - hadoop-net
    depends_on:
      - namenode

  spark_lab:
    image: jupyter/pyspark-notebook:latest
    container_name: spark_lab
    ports:
      - "8888:8888"
      - "4040:4040"
    environment:
      - JUPYTER_ENABLE_LAB=yes
    networks:
      - hadoop-net
    volumes:
      - ./work:/home/jovyan/work
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password='' # Disables password for easy access
networks:
  hadoop-net:
    driver: bridge
